@import url("https://fonts.googleapis.com/css?family=Poppins");

.container {
  text-align: center;
  font-family: Poppins;
}

.headings {
  color: #444c58;
  margin: auto;
  margin-bottom: 5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headings h3 {
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}
.headings p {
  font-size: 16px;
  margin-top: -1em;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.box {
  position: relative;
  margin-top: -3em;
  z-index: -1;
}
.box h5 {
  font-weight: bold;
  font-size: 36px;
  color: #444c58;
}

.imgcon img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
@media screen and (min-device-width: 120px) and (max-device-width: 768px) {
  .headings h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 64px;
  }
  .headings p {
    font-size: 16px;
    margin-top: -1em;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
