@import url("https://fonts.googleapis.com/css?family=Poppins");
.container {
  background-color: #a2abba;
  margin-top: 10em;
  font-family: Poppins;
}
.content {
  display: flex;
  justify-content: center;
}

.rocketimg img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: -3cm;
  margin-left: -2cm;
}
.right {
  font-family: Poppins;
  color: #fff;
}
.right h5 {
  font-weight: bold;
  font-size: 26px;
  line-height: 54px;
  color: #ffffff;
}
.sublist {
  display: flex;
  font-family: Poppins;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin-left: -2em;
}
.eventname ul {
  list-style: none;
}
.eventname text {
  margin-top: 10px;
}
.case ul {
  list-style: none;
}
.eventname .name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.case .name {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-device-width: 120px) and (max-device-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .right h5 {
    padding-left: 25px;
    padding-right: 15px;
  }
  .right .sublist {
    margin: auto;
  }
}
