@import url("https://fonts.googleapis.com/css?family=Poppins");

.container {
  text-align: center;
  font-family: Poppins;
}

.heading {
  color: #444c58;
  margin: auto;
  margin-bottom: 5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading h3 {
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}
.heading p {
  font-size: 16px;
  margin-top: -1em;
}
.feature {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.feature .box h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #444c58;
}
.feature .box p {
  width: 338px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #444c58;
}
@media screen and (min-device-width: 120px) and (max-device-width: 768px) {
  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature img {
    display: none;
  }
  .heading h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 64px;
  }
  .heading p {
    font-size: 16px;
    margin-top: -1em;
  }
}
